$primary: #0F98F9;
$primary_lg: #6AC8FF ;
$primary_dk: #006BC5;
$secondary: #F0E100;
$secondary_lg: #FFFF54;
$secondary_dk: #B9B000;
$textonprimary: #232323;
$textonsecondary: #3300A3;
$bodyBG: #D9D9D9;
$componentbg: #F7F4F4;